# Introduction to `tcollections`

In [1]:
import json
import sys
sys.path.append('../src')
import tcollections
from tcollections import tlist, group

## Collection Types

In [2]:
tl = tlist(range(10))
tl

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
tcollections.groupby(tl, lambda x: x % 2)

Groups({0: [0, 2, 4, 6, 8], 1: [1, 3, 5, 7, 9]})

## Grouping Items
This section concerns grouping elements.

### Grouping Methods

To group elements of a collection according to a single key, you can use either `groupby` or `group.by`.

In [4]:
grps = tcollections.group.by(tl, lambda x: x % 2)
grps

Groups({0: [0, 2, 4, 6, 8], 1: [1, 3, 5, 7, 9]})

In [5]:
grps = tcollections.groupby(tl, lambda x: x % 2)
grps

Groups({0: [0, 2, 4, 6, 8], 1: [1, 3, 5, 7, 9]})

Use `groupby_multi` or `group.multi` if you need nested groups.

In [6]:
grps = tcollections.groupby_multi(tl, lambda x: (x % 2 == 0,x % 3 == 0))
print(grps.to_json(indent=4))

{
    "True": {
        "True": [
            0,
            6
        ],
        "False": [
            2,
            4,
            8
        ]
    },
    "False": {
        "False": [
            1,
            5,
            7
        ],
        "True": [
            3,
            9
        ]
    }
}

In [7]:
grps = tcollections.group.multi(tl, lambda x: (x % 2,))
grps

NestedGroups({0: [0, 2, 4, 6, 8], 1: [1, 3, 5, 7, 9]})

In [8]:
grps = tcollections.groupby_multi(tl, lambda x: (x % 2,))
print(grps.to_json())

{"0": [0, 2, 4, 6, 8], "1": [1, 3, 5, 7, 9]}

### Aggregating Groups

In [9]:
agged = tcollections.group.by(tl, lambda x: x % 2).agg(lambda x: sum(x))
print(json.dumps(agged, indent=2))

{
  "0": 20,
  "1": 25
}

In [10]:
tcollections.group.multi(tl, lambda x: (x % 2 == 0,x % 3 == 0)).agg(lambda x: sum(x))

{True: {True: 6, False: 14}, False: {False: 13, True: 12}}

In [11]:
tcollections.group.multi(tl, lambda x: (x % 2 == 0,x % 3 == 0)).agg(lambda x: sum(x))

{True: {True: 6, False: 14}, False: {False: 13, True: 12}}

In [12]:
tcollections.group.multi(tl, lambda x: (x % 2 == 0,x % 3 == 0)).agg(lambda x: sum(x))

{True: {True: 6, False: 14}, False: {False: 13, True: 12}}

### Flattening and Ungrouping

In [13]:
grps = tcollections.group.by(tl, lambda x: x % 2)
grps.ungroup()

[0, 2, 4, 6, 8, 1, 3, 5, 7, 9]

In [18]:
grps = tcollections.group.multi(tl, lambda x: (x % 2 == 0,x % 3 == 0))
grps.ungroup()

[0, 6, 2, 4, 8, 1, 5, 7, 3, 9]

In [19]:
grps = tcollections.group.multi(tl, lambda x: (x % 2 == 0,x % 3 == 0))
flat_grps = grps.flatten()
print(grps.flatten().to_json(indent=4))

{
    "(True, True)": [
        0,
        6
    ],
    "(True, False)": [
        2,
        4,
        8
    ],
    "(False, False)": [
        1,
        5,
        7
    ],
    "(False, True)": [
        3,
        9
    ]
}